.vh-row-sm {
  position: relative;
  margin: 0 0 rem-calc(80) 0;
  padding: 0; }
  .vh-row-sm .vh-item a.vh-thumb-link {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none; }
  .vh-row-sm .vh-item a > div {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 120;
    background: #F1F1F1;
    outline: none; }

@media (min-width: 1100px) {
  .vh-item {
    width: 25%; } }

@media (min-width: 1200px) {
  .vh-item {
    width: 25%; } }

@media (max-width: 992px) {
  .vh-filter .play-now {
    display: none; }
  .vh-item:hover .play-now {
    display: none; }
  .vh-item img {
    width: auto;
    height: auto; } }

@media (min-width: 480px) and (max-width: 992px) {
  .vh-item {
    width: 50%; } }
