 .casino-thumb, .review-wrapper, .review-list li {
  background:#F5F5F5 !important;
}
.review-list li:nth-child(2n), .user-review-area {
  background:#fff !important;
}
.review-title, .review-desc .review-summary-title strong {
  color: #1F1F1F !important;
}
.casino-thumb.row .columns h3 a, .casino-thumb h4, .review-result-wrapper i, .review-total-wrapper .review-total-box {
  color: #333 !important;
}
.review-list li, .user-review-area .user-total-wrapper .user-review-title, .review-desc p {
  color: #707070 !important;
}
.review-list li .review-percentage .review-result-wrapper .review-result, .user-review-area .review-point .review-result-wrapper .review-result {
  background: #707070 !important;
}
