.off-canvas-content {
  position: relative;
}
.top-strip {
  position: relative;
  z-index: 100;
}
.top-bar, .footer {
  ul {
    li {
      a {
        text-transform:none;
      }
    }
  }
}
.games-menu {
  position: absolute;
  right: rem-calc(45);
  top: rem-calc(34);
  color: $black;
  display: block;
  height: rem-calc(25);
  width: rem-calc(25);
  &:before {
    font-size: rem-calc(25);
  }
}
.game-overlay {
  background: $black;
  position: absolute;
  display: none;
  top: rem-calc(115);
  padding: rem-calc(60);
  z-index: 1000;
  h2 {
    color: white;
    margin: 0 0 rem-calc(20) rem-calc(10);
  }
  .vh-row-sm {
    .vh-item {
      width: 20% !important;
    }
  }
  .vh-filter, .vh-pagination {
    display: none;
  }
}
#nav-toggle {
  span, span:before, span:after {
    cursor: pointer;
    @include border-radius(1px);
    height: 2px;
    width: 25px;
    background: $light-gray;
    position: absolute;
    display: block;
    content: '';
    transition: all 500ms ease-in-out;
  }
  span:before {
    top: 7px;
  }
  span:after {
    bottom: -14px;
  }
  &:hover {
    span {
      background: $black;
      &:before, &:after {
        background: $black;
      }
    }
  }
}
.large-banner {
  width: 100%;
  min-height: 450px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .banner-overlay-box {
    position: absolute;
    left: 8%;
    top: 146px;
    width: 50%;
    h2, h3 {
      font-family: $logo-font-family;
      color: #FFFFFF;
      @include text-shadow(0 1px 5px rgba(0,0,0,0.60));
    }
    h2 {
      font-size: 66px;
      line-height: 30px;
      font-weight: bold;
    }
    h3 {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: normal;
      margin: 0;
      line-height: 36px;
    }
    .button {
      margin-top: rem-calc(20);
      background: white;
      color: $red;
    }
  }
}
.button {
  &.slider {
    background: white;
    color: $red;
    height: auto;
    margin: 0;
  }
}
.category-label {
  ul {
    li {
      display: block;
      float: left;
      a {
        background: $red;
        color: $white;
        padding:rem-calc(5) rem-calc(8) rem-calc(6) rem-calc(8);
        margin-right: rem-calc(6);
        text-transform: uppercase;
      }
    }
  }
}

.divider {
  border-left:1px solid $very-light-grey;
  padding-left: rem-calc(40);
}
.post-banner {
  position: relative;
  width: 100%;
  height:rem-calc(360);
  margin-bottom: rem-calc(30);
  img {
    max-width: 100%;
  }
  .overlay {
    position: absolute;
    bottom:0;
    padding:rem-calc(30) rem-calc(40);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    h2 {
      display: inline-block;
      font-size: rem-calc(24);
      margin-top: rem-calc(16);
      margin-bottom: rem-calc(8);
      width: 100%;
      font-weight: bold;
      a {
        color: $white;
      }
    }
    h5 {
      color: $white;
      text-transform: uppercase;
    }
  }
}
.list-post {
  margin-bottom: rem-calc(30);
  display: block;
  p {
    margin-bottom: rem-calc(6);
    font-size: rem-calc(14px);
  }
  h3 {
    display: block;
    color: red;
  }
  h4 {
    &.byline {
      font-size: rem-calc(12);
      font-weight: 400;
      font-family: $body-font-family;
      a {
        color: $primary-color;
      }
      &.tags-list {
        float: right;
        margin: 4px 0 0 0;
      }
    }
  }
  img {
    padding-right: rem-calc(20);
  }
  .read-more {
    text-transform: uppercase;
    color: $light-gray;
    font-family: $logo-font-family;
    font-size: rem-calc(14);
    font-weight: 400;
    &:hover {
      color:$primary-color;
    }
  }
}
.vh-casino-providers {
  margin-top: rem-calc(30);
  text-transform: uppercase;
  color: $black;
  font-size: rem-calc(14);
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 8px 24px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 8px 24px rgba(0,0,0,0.15);
  thead {
    border-bottom: 0;
    tr {
      th {
        padding: rem-calc(15) rem-calc(0) rem-calc(15) rem-calc(10);
        background-color: $red;
        color: $white;
        font-weight: 500;
        border-bottom: 0;
        &:first-child {
          padding-left: rem-calc(26);
        }
        &:last-child {
          padding: rem-calc(20);
          text-align: center;
        }
      }
    }
  }
  tbody {
    tr {
      border-bottom: 0;
      &:nth-child(even) {
        background: $off-white-grey;
      }
      td {
        &.vh-casino {
          a {
            img {
              width: auto;
            }
          }
        }
        &.vh-cta-buttons {
          padding: rem-calc(10) rem-calc(20);
          a {
            color: $red;
            &.vh-playnow {
              border: 1px solid $red;
              background: none;
              color: $red !important;
              font-size: rem-calc(14);
              display: inline-block;
              width: 100%;
              padding: rem-calc(10) rem-calc(20);
              margin: rem-calc(4) 0 0 0;
              &:hover {
                background: $red;
                color: $white !important;
              }
            }
          }
        }
        &.vh-bonus {
          font-weight: 500;
          font-family: $body-font-family;
        }
      }
    }
  }
}
.tablepress {
  margin-top: rem-calc(30);
  text-transform: uppercase;
  color: $black;
  font-size: rem-calc(14);
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 8px 24px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 8px 24px rgba(0,0,0,0.15);
  thead {
    border: 0;
    tr {
      th {
        padding: rem-calc(20) rem-calc(0) rem-calc(20) rem-calc(10);
        background-color: $red;
        color: $white;
        font-weight: 500;
        &:first-child {
          padding-left: rem-calc(26);
        }
        &:last-child {
          padding: rem-calc(20);
          text-align: center;
        }
      }
    }
  }
  tbody {
    border: 0;
    tr {
      td {
        padding: rem-calc(20) rem-calc(20) rem-calc(20) rem-calc(10);
        vertical-align: middle;
        border: 0;
        a {
          color: $red;
          &.button {
            border: 1px solid $red;
            font-family: $logo-font-family;
          	text-transform: uppercase;
          	padding: rem-calc(12) rem-calc(25);
            background: none;
            display: inline-block;
            @include box-shadow(0);
            width: 100%;
            margin: rem-calc(4) 0 0 0;
            white-space: nowrap;
            &:hover {
              background: $red;
              color: $white;
            }
          }
        }
        &:first-child {
          padding-left: rem-calc(26);
        }
        img {
          @include border-radius(50%);
          height: rem-calc(45);
          width: rem-calc(45);
          margin: rem-calc(0);
        }
      }
    }
  }
}

.bonus-table-sidebar {
  margin-bottom: rem-calc(30);
  .large-cta {
    font-size: rem-calc(21);
    padding: rem-calc(20) 0;
    width: 100%;
    margin-bottom: 0;
    text-transform: capitalize;
    position: relative;
    i {
      background-image: url('../images/dd.svg');
      background-repeat: no-repeat;
      width: 14px;
      height: 8px;
      position: absolute;
      top: 27px;
      right: 30px;
      &.switch {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
      }
    }
  }
  #mini-casino-table {
    display: none;
  }
  thead {
    display: none;
  }
  tbody {
    tr {
      .column-1, .column-3 {
        display: none;
      }
      .column-2 {
        padding: rem-calc(10) 0 rem-calc(10) rem-calc(20);
        font-size: rem-calc(14);
      }
      .column-4 .button {
        font-size: rem-calc(12);
        float: right;
        padding: rem-calc(8) rem-calc(12);
        width: 100%;
        border-color: $primary-color;
        color: $primary-color;
        @include box-shadow(none);
        &:hover {
          background: $primary-color;
          color: $white;
          border-color: $primary-color;
        }
      }
    }
  }
}
.rating {
  list-style-type: none;
  margin: 0;
  li {
    font-family: $icon-font-family;
    display: inline-block;
    font-size: rem-calc(21);
    color: $black;
    &.star {
      &:before {
        content: "\f5bc";
      }
    }
    &:before {
      content: "\f5be";
    }
  }
}
.vh-filter {
  display: flex;
  margin-bottom: 0;
  select {
    width: 35%;
    float: initial;
    padding: 10px;
    &:hover {
      background-color: $very-light-grey;
      color: $dark-gray;
    }
  }
}
li {
  &.vh-games-widget-item {
    width: 50%;
    position: relative;
    padding: 0 rem-calc(10);
    @include border-radius(border-box);
    margin: 0 0 rem-calc(15) 0;
    list-style-type: none;
    float: left;
    h3 {
      color: $black;
      font-family: $tags-font-family;
      font-size: rem-calc(12);
      font-weight: 300;
      line-height: rem-calc(18);
      height: rem-calc(55);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 0 rem-calc(20);
      white-space: pre-wrap;
      background: $very-light-grey;
      vertical-align: middle;
      text-transform: uppercase;
    }
    img {
      width: 100%;
      padding: 0;
    }
  }
}
.Widget_vh_recent_games {
  display: inline-block;
  .vh-games-widget-item {
    padding: 0;
  }
}
#comment, .search-field {
  border-color: #bcbcbc #dadada #e5e5e5;
  border-width:1px;
  border-style: solid;
  @include box-shadow(inset 0px 0px 0px 0px);
  @include border-radius(0);
}
.no-image-radius {
  margin: 0 auto;
  display: block;
  height: rem-calc(112);
  width: rem-calc(112);
  background: $faint-grey;
  @include border-radius(50%);
  &.archive {
    height: auto;
    width: 93%;
    @include border-radius(0);
    background:$off-white-grey;
    padding: 10%;
    margin: 0;
  }
  span {
    margin: 0;
    text-align: center;
    font-size: 58px;
    font-weight: bold;
    display: inherit;
    line-height: 112px;
    color: white;
    font-family: $logo-font-family;
  }
}
.casino-reviews-grid {
  .card {
    background: $very-light-grey;
    margin-bottom: rem-calc(30);
    display: block;
    min-height:349px;
    .review-type-star {
      background: transparent;
      width: 100%;
      text-align: center;
      margin: 0;
      padding: rem-calc(16);
    }
    div[class*="wp-review-"] {
        .review-result-wrapper {
          i {
            color: #000;
          }
        }
      }
    .vh-casino-title {
      padding: rem-calc(32) rem-calc(16);
      text-align: center;
      color: $red;
      text-transform: uppercase;
      font-size: rem-calc(14);
      max-height: rem-calc(84);
      overflow: hidden;
    }
    .vh-casino-overlay {
      min-height: 112px;
      img {
        margin: 0 auto;
        display: block;
        width: rem-calc(112);
        @include border-radius(50%);
      }
    }
    .vh-bonus-text {
      padding: rem-calc(32) 0 0 0;
      text-align: center;
      color: $black;
      text-transform: uppercase;
      font-size: rem-calc(14);
    }
    .button {
      width: 100%;
      margin:0;
      background: $faint-grey;
    }
    &:hover {
      cursor: pointer;
      background: $white;
      box-shadow: 0 6px 17px 0 rgba(0,0,0,0.16);
      .no-image-radius {
        background: $light-blue;
        span {
          color: $light-blue-text;
        }
      }
      .button {
        background: $primary-color;
      }
    }
  }
  .pagination {
    text-align: center;
    clear: both;
  }
  .grid-casino-rating {
    min-height: 62px;
  }
}
.widget_search {
  margin-top: rem-calc(30);
}
.casino-thumb {
  padding: rem-calc(34);
  background: $helptext-color;
  &.row {
    margin-left: 0;
    margin-right: 0;
    .columns {
      padding-left: 0;
      padding-right: 0;
      h3 {
        a {
          color: white;
          i {
            margin-left: 10px;
            img {
              @include border-radius(0);
              width: 14px;
              margin-top: -4px;
            }
          }
        }
      }
    }
  }
  img {
    margin-bottom: 0;
    width: rem-calc(112);
    @include border-radius(100px);
  }
  h3, h4 {
    margin-left: rem-calc(40);
    font-family: $body-font-family;
    font-weight: 400;
  }
  h3 {
    color: white;
    font-size: rem-calc(21);
    margin-top: rem-calc(30);
    margin-bottom: 0;
  }
  h4 {
    color: $faint-grey;
    font-size: rem-calc(18);
  }
}
div[class^="wp-review-"], div[class*="wp-review-"] {
  padding: rem-calc(34);
  border: 0;
  background: $helptext-color;
  .review-result-wrapper {
    .review-result, i {
      color: white;
      i {
        color: white;
      }
    }
  }
  .review-desc {
    padding: rem-calc(36) 0;
    .review-summary-title {
      strong {
        font-size: rem-calc(16);
        font-weight: 500;
        margin-bottom: rem-calc(10);
        display: inline-block;
      }
    }
    p {
      color: $light-gray;
    }
  }
  .review-total-wrapper {
    .review-total-box {
      font-weight: 400;
      color: white;
    }
  }
  .review-title {
    background: none;
    font-family: $body-font-family;
    padding: 0 0 rem-calc(18) 0;
    border: 0;
    font-size: rem-calc(21);
    text-transform: capitalize;
    color: white;
    font-weight: 400;
  }
  ul {
    &.review-list {
      li {
        background: $helptext-color;
        border: 0;
        color: $light-gray;
        .review-percentage {
          float: right;
          width: 200px;
          .review-result-wrapper {
            .review-result {
              background: $light-gray;
            }
          }
        }
        &:nth-child(2n){
          background: $medium-dark-gray;
        }
        .review-star {
          top: rem-calc(5);
        }
        .review-point {
          float: right;
        }
      }
    }
  }
  .user-review-area {
    border: 0;
    color: $light-gray;
    background: $medium-dark-gray;
    .review-point, .review-percentage {
      float: right;
      width: 200px;
      position: absolute;
      top: 12px;
      right: 15px;
    }
    .review-star, .review-point {
      margin-top: -2px;
    }
    .wp-review-user-rating {
      background: $medium-dark-gray !important;
      padding: 0;
    }
    .user-total-wrapper {
      .user-review-title {
        font-weight: 400;
        color: white;
      }
      .review-total-wrapper {
        .review-total-box {
          font-weight: 400;
          color: $medium-gray;
        }
      }
    }
  }
}
/*********************
 WP-REVIEW WIDGET STYLING
 *********************/
.wp_review_tab_widget_content {
  .inside {
    padding-top: 0 !important;
    .tab-content {
      .wp_review_tab_thumb_large {
        display: block;
      }
      .wp-review-tab-pagination {
        background: none;
        margin: 0;
        padding-top: rem-calc(10);
        padding-bottom: rem-calc(10);
        padding-left: rem-calc(10);
        padding-right: rem-calc(10);
        width: 100%;
        border-top: 1px solid $faint-grey;
      }
      ul {
        li {
          padding: rem-calc(14) rem-calc(15) rem-calc(15) rem-calc(15);
          margin: 0;
          .title-right {
            .entry-title {
              line-height: rem-calc(16);
              margin-top: rem-calc(4);
            }
            .review-total-only {
              &.small-thumb {
                margin: 0;
                width: 100%;
                display: block !important;
                background: none;
              }
              .review-star {
                margin: 0;
                .review-result-wrapper {
                  i {
                    font-size: rem-calc(13);
                    &:before {
                      color: $helptext-color;
                    }
                  }
                }
              }
              &.large-thumb {
                position: relative;
                top: auto!important;
                right: auto!important;
                width: auto!important;
                padding:0!important;
                background: transparent!important;
                margin: 0 0 rem-calc(5) 0;
                display: block;
              }
            }

            .wp-review-tab-postmeta {
              background: none;
              padding: 0;
              margin: 0;
              float: left;
              display: block;
              line-height: rem-calc(16);
              font-size: rem-calc(11);
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
  &.wp-review-tab-loading {
    padding: 0;
    width: auto!important;
  }
}
.home-top-sidebar {
  .widget {
    margin-top: 1.5625rem;
  }
}
.home-sidebar-1 {
  .Widget_vh_recent_games {
    li {
    &.vh-games-widget-item {
      width: 48%;
      }
    }
  }
}
.sidebar-wrapper, .sidebar-wrapper-news, .sidebar-wrapper-casino {
  .casino-reviews-grid {
    .column {
      width:98%;
      clear: none;
    }
    .grid-casino-rating .wp-review-show-total {
      margin:0;
      width:100%;
      padding:rem-calc(16);
    }
    .column .button {
      font-size: rem-calc(14);
      text-transform: uppercase;
      padding: rem-calc(12) rem-calc(25);
    }
  }
}
.home-sidebar-2 {
  .casino-reviews-grid {
    .column {
      width:49%;
      clear: none;
    }
  }
  .Widget_vh_recent_games {
    li {
    &.vh-games-widget-item {
      width: 48%;
      }
    }
  }
}
.footer {
  .wp_review_tab_widget_content {
    margin-top: rem-calc(30);
    border: 0;
    .tab-content {
      ul {
        li {
          margin: 0;
          padding-top: rem-calc(10);
          padding-bottom: rem-calc(10);
          padding-left: 0;
          padding-right: 0;
          .title-right {
            .review-total-only {
              .review-star {
                .review-result-wrapper {
                  i {
                    &:before {
                      color: $medium-dark-gray;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .wp-review-tab-pagination {
        border-top: 1px solid $medium-dark-gray;
      }
    }
    .wp-review-tabs {
      .tab_title {
        a {
          text-transform: uppercase;
          background: none;
          color: $light-gray;
          border-left: 1px solid $deep-gray;
          border-bottom: 1px solid $deep-gray;
        }
        &.selected {
          a {
            border-bottom: 1px solid $deep-gray;
          }
        }
      }
    }
    .inside {
      background: none;
      .tab-content {
        ul {
          li {
            .title-right {
              .wp-review-tab-postmeta {
                padding: 0;
                background: none;
              }
            }
          }
        }
      }
    }
  }
  .textwidget {
    p {
      a {
        color:#ffffff;
      }
    }
  }
  .vh-casino-providers thead tr th:first-child {
    padding-left: rem-calc(10);
  }
  .vh-casino-providers .vh-cta-buttons .vh-playnow {
    padding: rem-calc(9)!important;
  }
}
/*********************
SIDEBARS & ASIDES
*********************/

.sidebar, .sidebar-wrapper, div[class^="sidebar-wrapper-"], div[class*="sidebar-wrapper-"] {
	padding-right: rem-calc(40);
	padding-left: rem-calc(40);
	margin-top: rem-calc(0px);
	h2 {
		margin: 0 0 rem-calc(25);
	}
	&-casino {
		margin-top: rem-calc(78px);
		.widget {
			&:first-child {
				h2 {
					margin:0 0 rem-calc(25) 0;
				}
			}
		}
	}
	&-news {
		.widget {
			&:first-child {
				h2 {
					margin:0 0 rem-calc(25) 0;
				}
			}
		}
	}
	.button-container {
		.review-type-point, .review-type-percentage {
			display: none !important;
		}
		.widget {
			h2 {
				margin-top: rem-calc(40);
			}
			p {
				.excerpt-read-more {
					display: none;
				}
			}
		}
		.button {
			font-size: rem-calc(21);
			text-transform: capitalize;
			padding: rem-calc(20) 0;
			text-align: center;
			color: $white;
			width: 100%;
			@include box-shadow(0 3px 3px 0 rgba(0,0,0,0.16));
		}
		.blue {
			background: $primary-color;
			&:hover {
				background: $primary-color-hover;
			}
		}
		.red {
			background: $red;
			margin-top: rem-calc(20);
			&:hover {
				background: $red-hover;
			}
		}
		div[class^="wp-review-"], div[class*="wp-review-"] {
			background: none !important;
			width: rem-calc(130);
			display: block;
			padding: 0;
			margin: 0 auto rem-calc(30) auto;
      i.mts-icon-star, .mts-icon-star:before {
        color: #333;
      }
		}
	}
	.textwidget {
		.tablepress {
			thead {
				tr {
					th {
						padding: rem-calc(10) rem-calc(20);
						&.column-2, &.column-3{
							display: none;
						}
					}
				}
			}
		  tbody {
		    tr {
		      td {
						padding: rem-calc(10) rem-calc(20);
						font-size: rem-calc(14);
						&:first-child, &.column-3{
							display: none;
						}
		        a {
		          &.button {
		            border: 1px solid $red;
		            font-family: $logo-font-family;
		          	text-transform: uppercase;
		          	padding: rem-calc(8) rem-calc(12);
								font-size: rem-calc(12);
								color: $red;
		            background: none;
		            display: inline-block;
		            @include box-shadow(none);
		            width: 100%;
		            margin: rem-calc(4) 0 0 0;
		            white-space: nowrap;
		            &:hover {
		              background: $red;
		              color: $white;
		            }
		          }
		        }
					}
				}
			}
		}
	}
	.widget_text {
		color: $medium-dark-gray;
		font-size: rem-calc(14);
		margin-bottom: rem-calc(30);
	}
}
.textwidget {
  table {
    &.vh-casino-providers {
      thead {
        tr {
          th {
            &.vh-devices {
              display: none;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            &.vh-devices {
              display: none;
            }
          }
        }
      }
    }
  }
}
.sidebar, .sidebar-wrapper, div[class^="sidebar-wrapper-"], div[class*="sidebar-wrapper-"] {
	.singlegame_widget, .widget {
		.textwidget {
			.vh-casino-providers {
				thead {
					background: $red;
					tr {
						th {
							&.vh-casino {
								width: 100%;
							}
							&.vh-bonus, &.vh-devices {
								display: none;
							}
							&.vh-cta-buttons {

							}
						}
					}
				}
				tbody {
					tr {
						td {
							&.vh-devices, &.vh-bonus {
								display: none;
							}
							&.vh-casino {
								a {
									img {
										width: rem-calc(108);
									}
								}
							}
							&.vh-cta-buttons {
								a {
									&.vh-playnow {
										padding: rem-calc(8) rem-calc(12);
										font-size: rem-calc(12);
										white-space: nowrap;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.dataTables_wrapper {
  label {
    input,select {
      display: inline;
      margin: rem-calc(2) 0 rem-calc(5) 0;
      width: auto;
      max-width: rem-calc(140);
      height: rem-calc(32);
      padding: rem-calc(2) rem-calc(10) rem-calc(2) rem-calc(5);
    }
  }
}
.paging_simple {
  .paginate_button {
    &.next:after, &.previous:before {
      text-shadow: none;
      font-weight: normal;
      color: #ccc;
    }
  }
}

.iframe_kh_wrapper {
  margin-bottom: rem-calc(16);
}