.play-now {
  background: white;
  padding: 6px 10px;
  position: absolute;
  text-transform: uppercase;
  width: 60%;
  top: 100%;
  font-size: 14px;
  left:15%;
  right:15%;
  color: $red;
  opacity: 0;
  text-align: center;
  margin:auto;
  overflow: hidden;
  border-radius:0;
  -webkit-border-radius:0;
  z-index: 200;
  will-change: opacity,top,background-color;
  -webkit-transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
  -o-transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
  transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
}
.Widget_vh_recent_games {
  position: relative;
  margin: 0 0 rem-calc(16) 0;
  padding: 0;
  li {
    &.vh-games-widget-item {
      width: 47%;
      position: relative;
      padding: 0;
      @include border-radius(border-box);
      margin: 0 rem-calc(10) rem-calc(10) 0;
      list-style-type: none;
      float: left;
      .vh-game-title {
        color: $black;
        font-family: $logo-font-family;
        font-size: rem-calc(15);
        font-weight: normal;
        line-height: rem-calc(18);
        height: rem-calc(55);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 0 rem-calc(20);
        white-space: pre-wrap;
        background: $very-light-grey;
        vertical-align: middle;
      }
      img {
        width: 100%;
        padding: 0;
      }
      &:hover {
        .play-now {
          display: inline-block;
          will-change: opacity,top,background-color;
          -webkit-transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
          -o-transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
          transition: opacity .15s linear,top 120ms ease-out,background-color 120ms ease-out !important;
          top:42%;
          opacity: 1;
        }
        .vh-overlay {
          background: $black;
        }
        img {
          opacity: .5;
        }
      }
      a {
        &.vh-thumb-link {
          position: relative;
          display: block;
          overflow: hidden;
          outline: none;
        }
        & > div {
          position: relative;
          display: block;
          overflow: hidden;
          z-index: 120;
          background: #F1F1F1;
          outline: none;
        }
      }
    }

  }
}


@media (min-width: 1200px) {
  .widget {
    .vh-item {
      width: 45%;
      margin: 0 rem-calc(10) !important;
      border-bottom: 0;
    }
  }
}
@media (max-width: 1024px) {
  .widget {
    .vh-filter {
      select {
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 8px;
        }
      }
    }
    #vh-lobby-posts {
      margin: 0 -10px;
      .vh-item {
        width: 45%;
        margin: 0 rem-calc(10) !important;
      }
    }
  }
  .vh-pagination {
    margin: rem-calc(10) 0;
  }
}
@media (max-width: 800px) {
  .vh-filter .play-now {
    display: none;
  }
  .vh-item:hover .play-now {
    display: none;
  }
  .vh-item img {
    width: auto;
    height: auto;
  }
}
@media (max-width: 768px) {
  .widget {
    #vh-lobby-posts {
      .vh-item {
        width: 47%;
        margin: 0 rem-calc(10) !important;
      }
    }
  }
}
@media (max-width: 600px) {
  .vh-filter {
    display: block;
    select {
      min-width: 100%;
      margin-top: 0;
      margin-bottom: rem-calc(5);
    }
  }
  ul {
    &#vh-lobby-posts {
      padding:0 15px;
      .vh-item {
        width: 100%;
        border-bottom: 0;
      }
    }
  }
}
@media (max-width: 420px) {
  .widget {
    margin: 0 rem-calc(10);
    ul {
      &#vh-lobby-posts {
        .vh-item {
          width: 100%;
          border-bottom: 0;
          margin: 0 !important;
        }
      }
    }
  }
  .entry-content {
    ul {
      &#vh-lobby-posts {
        margin-top: rem-calc(20);
        padding:0;
        .vh-item {
          padding: 0;
        }
      }
    }
  }
}
