
/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/
body {
	font-size: rem-calc(14);
}
/*********************
LINK STYLES
*********************/
a, a:visited {
	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}
/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}
h1, .h1, h2, .h2, p {
	color: $medium-dark-gray;
}
h1, .h1, h2, .h2, h3, .h3 {
	font-weight: bold;
}
h1, .h1 {
	font-family: $title-font-family;
}

h2, .h2 {
	font-size: rem-calc(24);
	margin: rem-calc(25) 0;
}

h3, .h3 {
	font-size: rem-calc(21);
	a {
		color:$medium-dark-gray;
	}
}

h4, .h4 {

}

h5, .h5 {
	font-family: $body-font-family;
	text-transform: uppercase;
	font-size: rem-calc(13);
}
p {
	font-size: rem-calc(15);
	line-height: 1.5;
}
header {
	h2 {
		margin-top: 0;
		margin-bottom: rem-calc(30);
		font-size: rem-calc(40);
		font-weight: bold;
	}
	h4 {
		&.byline {
			margin-bottom: rem-calc(40);
		}
	}
}
.single {
	h1 {
		margin-bottom: 0;
	}
}
.button {
	font-family: $logo-font-family;
	text-transform: uppercase;
	padding: rem-calc(12) rem-calc(25);
	@include border-radius(0);
}
.vh-pagination .prev, .vh-pagination .next {
	background: $primary-color;
	text-transform: uppercase;
	color: white;
	min-width: 130px;
	padding: rem-calc(10) rem-calc(25);
	@include border-radius(0);
}
/*********************
HEADER STYLES
*********************/
.header {
	min-height: rem-calc(77);
	@include box-shadow(0 2px 0 0 rgba(112,112,112,0.09));
	ul.off-canvas-list li {
		list-style: none;
	}
}
.relative {
	position: relative;
}
.show {
	display: inline-block !important;
}
/*********************
NAVIGATION STYLES
*********************/
.top-strip {
	background: $black;
	.top-bar {
		background: $black;
		padding: rem-calc(10) 0;
		.top-bar-left {
			ul {
				margin-top: rem-calc(3);
				li {
					font-size: rem-calc(14);
					a {
						padding: 0 0 0 rem-calc(10);
					}
					&:first-child {
						a {
							padding: 0;
						}
					}
				}
			}
		}
		.title-area {
			z-index: 1;
		}
		ul {
			background: none;
			li {
				font-size: rem-calc(13);
				a {
					color: $dark-gray;
					padding: 0 0 0 rem-calc(5);
				}
			}
		}
	}
}
.social-icons {
	margin: 0;
	line-height: rem-calc(12);
	li {
		list-style-type: none;
		display: inline-block;
		a {
			font-size: rem-calc(18);
			color: $dark-gray;
		}
	}
}
.logo {
	margin: rem-calc(26) 0 0 0;
	font-family:$logo-font-family;
	font-size: rem-calc(22);
	line-height: rem-calc(15);
	text-transform: uppercase;
	font-weight: bold;
	a {
		color: $black;
		line-height:rem-calc(16);
	}
}
.site-description {
	margin: 0;
	font-size: rem-calc(13);
	color: $light-gray;
	font-weight: 400;
}
.logo-wrapper {
	.heading-logo {
		padding: 0;
		display: block;
	}
	.logo-image {
		margin-top: rem-calc(25);
	}
	.logo-icon {
		width: rem-calc(50);
		float: left;
		margin-top: rem-calc(20);
		margin-right: rem-calc(15);
	}
}

.top-bar {
	&#top-bar-menu {
		position: relative;
		padding: 0;
		.row {
			.top-bar-left {
				width: 30%;
			}
		}
		.menu {
			margin: 0;
			float: right;
			margin-right: 0;
			li {
				height: rem-calc(40);
				border-top: 2px solid white;
				&:hover {
					border-top: 2px solid $primary-color;
					a {
						color: $primary-color;
					}
				}
				a {
					font-size: rem-calc(15);
					padding: rem-calc(32) rem-calc(16);
					font-family: $logo-font-family;
					color: $black;
					font-weight: 500;
					&.button {
						a {
							padding: 0;
							color: $white;
						}
					}
				}
				&.cta {
					&:hover {
						border-top: 2px solid white;
					}
					a {
						margin: rem-calc(20) 0 rem-calc(20) rem-calc(20);
						padding: rem-calc(10) rem-calc(25);
						display: inline-block;
						background:$primary-color;
						font-size: rem-calc(15);
						text-transform: uppercase;
						color: white;
					}
				}
			}
			.submenu {
				padding:rem-calc(10) rem-calc(24) 0 rem-calc(24);
				background: $deep-gray;
				z-index: 100;
				@include box-shadow(0 2px 4px 0 rgba(0,0,0,0.50));

				> li {
					border-bottom: 1px solid #4A4A4A;
					border-top: 0;
					a {
						padding: rem-calc(10) 0;
						color: white;
						&:hover {
							color: $light-gray;
						}
					}
					&:last-child {
						border-bottom: none;
					}
					ul {
						z-index: 150;
					}
					&.is-right-arrow {
						> a:after {
						    position: absolute;
						    top: 50%;
						    margin-top: -7px;
						    right: 1rem;
						    display: block;
						    width: 0;
						    height: 0;
						    border: inset 5px;
						    content: '';
						    border-right-width: 0;
						    border-left-style: solid;
						    border-color: transparent transparent transparent #fff;
						    opacity: 0.7;
						}						
					}
				}
			}
		}
	}
}
.menu-mobile {
	float: right;
	padding: rem-calc(12) rem-calc(30);
	margin: rem-calc(13) 0 0 0;
	border: 1px solid $faint-grey;
	@include border-radius(0);
	color: $primary-color;
}
.accordion-menu {
	width: 100%;
	clear: both;
}
.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	#inner-content {
		padding: rem-calc(76) 0;
	}
	.taxonomy-description {
	    margin-bottom: rem-calc(32);
	 }
}
.article {
	padding-top: rem-calc(20);
	padding-bottom: rem-calc(20);
	border-bottom: 1px solid $very-light-grey;
	p {
		margin-bottom: 0;
	}
}
.single-title,
.page-title {
	font-family: $tags-font-family;
	color: $medium-dark-gray;
	font-size: rem-calc(40);
}

.page-title {

	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}
.page {
	#content {
		#main {
			h1 {
				margin-bottom: rem-calc(48);
			}
		}
	}
}


// Post meta
.byline, .tags {
	color: $light-gray;
	text-transform: uppercase;
	font-family: $tags-font-family;
	font-weight: 400;
	margin-bottom: rem-calc(10);
	font-size: rem-calc(14);
	.tags-title {
		color: $light-gray;
	}
	a {
		color: $light-gray;
		margin-right: rem-calc(4);
		&:hover {
			color: $primary-color;
		}
	}
	time {}
}
#main {
	padding-right: rem-calc(40);
}
// Entry content
.entry-content {

	img {
		max-width: 100%;
		height: auto;
		margin-bottom: 15px;
	}

	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

	video, object {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
	}

}
.post-categories {
	margin-left: 0;
	margin-right: rem-calc(3);
	margin-bottom: 0;
	list-style-type: none;
	li {
		a {
			font-size: rem-calc(12);
			list-style-type: none;
			font-family: $tags-font-family;
		}
	}
}
.post-details {
	width: 100%;
	margin-bottom: 0;
	color: $light-gray;
	a {
		color: $light-gray;
	}
	.post-categories {
		float: left;
	}
}
.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {

	dl {

		a {}

		img {}

	}

	dt {}

	dd {}

}

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}
.pagination {
    text-align: center;
    clear: both;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard


	// comment meta
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content

	// comment reply link
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {

		}

	} // end .commentlist .comment-reply-link

} // end .commentlist

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 1px solid $light-gray;
			line-height: 1.5em;
			&:focus {
				background: #fff;
			}

			// form validation
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				-ms-box-shadow: none;
				box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button
#submit {}

// comment form title
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link
#cancel-comment-reply {
	a {}
}

// logged in comments
.comments-logged-in-as {}

// allowed tags
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments
.nocomments {
	margin: 0 20px 1.1em;
}

.row {
	&.collapse {
		.sidebar-wrapper-casino {
			padding-left: rem-calc(40);
		}
	}
}

.sidebar-wrapper {
	margin-top: 0;
	div:first-child{
		margin-top: 0;
	}
}
.game-post {
	margin-top: rem-calc(118);
}

.widget {
	margin:0 0 rem-calc(20) 0;
	clear: both;
	ul {
		margin:0;
		font-size: rem-calc(14);
		li {
			list-style: none;
			color: $light-gray;
			line-height: rem-calc(29);
			border-bottom: 1px solid $very-light-grey;
    	padding: rem-calc(5) 0;
			&:first-child {}
			&:last-child {}
			// deep nesting
			ul {}
			a {
				color: $black;
				&:hover {
					color: $primary-color;
				}
			}
		}
	}
	.textwidget {
		color: $medium-dark-gray;
	}
}
.homepage-widget {
	padding-left: 0;
	.widget {
		padding-left: 0;
		list-style-type: none;
		ul {
			li {
				&:before {
					font-family: $icon-font-family;
					font-size: rem-calc(17);
					content: '\f238';
					margin-top: rem-calc(1);
					margin-right: rem-calc(8);
				}
				a {
					color: $light-gray;
					-webkit-transition: padding-left 0.125s ease-in-out;
					-moz-transition: padding-left 0.125s ease-in-out;
					transition: padding-left 0.125s ease-in-out;
					&:hover {
						padding-left: 5px;
						color: $black;
					}
				}
			}
		}
	}
}

.game-post-banner {
	width: 100%;
	height:rem-calc(180);
	position: relative;
	background: $black;
	overflow: hidden;
	.image {
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
		background-size:cover;
		z-index:1;
		-webkit-filter: blur(20px);
		-moz-filter: blur(20px);
		-o-filter: blur(20px);
		-ms-filter: blur(20px);
		filter: blur(20px);
	}
	h1, h2 {
		text-align: center;
		display: inline-block;
		margin: rem-calc(50) auto 0 auto;
		width: 100%;
		color: $white;
		font-weight: bold;
		font-size: rem-calc(64);
		position: relative;
		z-index: 2;
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	font-family: $logo-font-family;
	clear: both;
	margin-top: rem-calc(60);
	background: $medium-gray;
	font-size: rem-calc(15);
	.columns {
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	.widget {
		margin-bottom: rem-calc(30);
		h2 {
			padding-top: rem-calc(20);
			text-transform: uppercase;
			margin-bottom: rem-calc(28);
			font-size: rem-calc(14);
			color: $light-gray;
		}
		.textwidget	{
			line-height: rem-calc(24);
		}
		ul {
			li {
				border-bottom: 1px solid $medium-dark-gray;
				padding-top: rem-calc(5);
				padding-bottom: rem-calc(5);
				font-size: rem-calc(15);
				&:last-child {
					border-bottom:0;
				}
				a {
					color: $white;
				}
			}
		}
	}
	.footer-strip {
		background: $black;
		padding: rem-calc(26) 0 rem-calc(24) 0;
		.logo-footer {
			color: $white;
			float: left;
			margin-top: rem-calc(6);
			margin-right: rem-calc(40);
			line-height: rem-calc(15);
			font-family:$logo-font-family;
			font-weight: bold;
			font-size: rem-calc(22);
			text-transform: uppercase;
			span {
				margin:rem-calc(2) 0 0 0;
				font-size: rem-calc(13);
				color: $light-gray;
				width: 100%;
				font-weight: normal;
				display: inline-block;
				text-transform: capitalize;
			}
		}
		p {
			margin: 0;
		}
		.copyright {
			float: right;
		}
		.social-icons {
			float: right;
			margin-top: rem-calc(10);
		}
		ul {
			&.menu {
				float: left;
				li {
					a {
						color: $light-gray;
					}
				}
			}
		}
	}
}

/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
	list-style: none outside none;
	margin: 0;
}
