@media only screen and (min-width: 1200px) and (max-width: 1340px){
  .top-bar {
    &#top-bar-menu {
      .row {
        .menu {
          margin-right: 5%;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  	.top-bar {
  		&#top-bar-menu {
        .row {
          padding-right: rem-calc(20);
          padding-left: rem-calc(20);
          .menu {
            margin-right: rem-calc(80);
          }
        }
      }
    }
}
@media (max-width: 1024px) {
  .top-strip, .games-menu {
    display: none;
  }
  
  .header {
  	.top-bar {
  		&#top-bar-menu {
  			padding-right: rem-calc(10);
  			padding-left: rem-calc(10);
        .row {
          .menu {
            margin-right: rem-calc(0);
          }
          .top-bar-left {
            margin-top: rem-calc(0);
            margin-left: rem-calc(20);
            width: 30%;
            .heading-logo {
              h1 {
                &.logo {
                  margin-top: rem-calc(26);
                }
              }
            }
            .logo-image {
              margin-top: rem-calc(20);
            }
          }
        }
      }
    }
  }
  .large-banner {
    min-height: 350px;
    .banner-overlay-box {
      top: 74px;
    }
  }
  .category-label {
    ul {
      li {
        margin-top: rem-calc(5);
        a {
          padding: rem-calc(2) rem-calc(6);
          font-size: rem-calc(12);
        }
      }
    }
  }
  #content {
    #inner-content {
      padding: rem-calc(30) 0;
    }
  }
  .tablepress {
    tbody {
      border: 0;
      tr {
        td {
          padding: rem-calc(10);
          a {
            &.button {
              padding: rem-calc(10);
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .footer {
    padding: 0 rem-calc(30);
  }
  .footer-strip {
    display: none;
  }
}
@media (max-width: 768px) {
  .divider {
    border-left: 0;
  }
  .header {
    min-height: rem-calc(68px);
  	.top-bar {
  		&#top-bar-menu {
  			padding-right: 0.625rem;
  			padding-left: 0.625rem;
        .row {
          .top-bar-left {
            margin-top: rem-calc(0);
            margin-left: rem-calc(0);
            width: 50%;
            .logo {
              margin: rem-calc(20) 0 0 0;
            }
            .logo-icon {
              width: 12%;
            }
          }
          .top-bar-right {
            .menu-mobile {
              display: block !important;
              padding: rem-calc(10) rem-calc(15);
              font-size: 14px;
            }            
          }
          ul[id^="menu-"] {
            display: none;
          }
        }
      }

    }
  }
  #main {
    padding-left: rem-calc(15);
    padding-right: rem-calc(15);
  }
  .tablepress-responsive-phone {
    thead {
      display: none !important;
    }
    tbody {
      tr {
        td {
          text-align: center;
          padding: rem-calc(20);
        }
      }
    }
  }
  .button-container {
    .tablepress-responsive-phone {
      tbody {
        tr {
          width:100%;
          display: table-row;
          td {
            width: 26%;
            padding: rem-calc(10);
            display: table-cell;
            text-align: left;
            border-bottom: 1px solid #dddddd;
            &:first-child{
              display: none;
            }
            &.column-3 {
              display: none;
            }
          }
        }
      }
    }
  }

  .vh-casino-providers {
    thead {
      background: none !important;
      tr {
        height: rem-calc(52);
        position: relative;
        th {
          position: absolute;
          background: white;
          color: $medium-dark-gray;
          text-align: center;
          padding: rem-calc(10);
          border-bottom: 1px solid $very-light-grey;
          &.vh-casino {
            width: 80% !important;
            height: rem-calc(52);
            padding: rem-calc(15);
          }
          &.vh-bonus, &.vh-devices, &.vh-cta-buttons {
            display: none;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          &.vh-casino {
            padding:rem-calc(15) rem-calc(10) rem-calc(5) rem-calc(10);
          }
          &.vh-cta-buttons {
            padding:rem-calc(5) rem-calc(10);
            a {
              &.vh-playnow {
                margin-top: 0;
                padding: rem-calc(8) rem-calc(12);
                font-size: rem-calc(12);
              }
            }
          }
        }
      }
    }
  }
  .post-banner {
    .overlay {
      width: 100%;
      height: 100%;
      padding: 28% rem-calc(40) rem-calc(40) rem-calc(40);
      h1 {
        margin-top: rem-calc(20);
        font-size: rem-calc(30);
      }
      h5 {
        font-size: rem-calc(18);
      }
    }
  }
  #content {
    #inner-content {
      padding: rem-calc(38) 0;
      #main {
        padding-right: rem-calc(30);
        padding-left: rem-calc(30);
      }
    }
  }
  .sidebar-wrapper-news {
    .widget {
      width: 100%;
      float: left;
      clear: none;
    }
  }
  .game-post {
    margin-top: rem-calc(20);
  }
  .footer-strip, .game-post-banner {
    display: none;
  }
  .footer {
    padding-bottom: rem-calc(30);
    .columns:first-child {
      padding-left: 0.9375rem;
    }
    .widget {
      margin-bottom: 0;
      h2 {
        padding-top: rem-calc(10);
        margin-bottom: rem-calc(15);
      }
    }
  }
  .no-image-radius.archive, .archive .no-image-radius.archive {
    /*width: 100%;*/
  }
  div[class^="wp-review-"], div[class*="wp-review-"] {
    padding: 15px;
  }
  .widget_wp_review_tab {
    margin-bottom: rem-calc(20);
  }
  [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    @include border-radius(0);
    @include box-shadow(0);
    border-color: #bcbcbc #dadada #e5e5e5;
  }
}
@media (max-width: 600px) {
  .single-title, .page-title {
    font-size: rem-calc(18);
  }
  p {
    font-size: rem-calc(13);
  }
  .top-strip, .games-menu, .footer-strip {
    display: none;
  }
  .divider {
    border: 0;
    padding-left: 0;
  }
  .sidebar-wrapper-news {
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
  }

  .header {
    min-height: rem-calc(68px);
  	.top-bar {
  		&#top-bar-menu {
  			padding-right:0;
  			padding-left: 0;
        .row {
          .accordion-menu {
            display: none;
            margin-top: rem-calc(15);
            margin-bottom: rem-calc(10);
            background: $very-light-grey;
            float: none;
            li {
              height: auto;
              clear: both;
              a {
                padding: rem-calc(12) rem-calc(20);
              }
              ul {
                padding: 0;
                width: 100%;
                li {
                  display: inline-block;
                  width: 100%;
                }
              }
              &.cta {
                background: white;
                a {
                  margin: 0;
                }
              }
            }
            .is-accordion-submenu-parent[aria-expanded='true'] > a::after {
              margin-top: -8px;
            }
          }
    			.logo {
    				margin: rem-calc(5) 0 0 0;
    			}
    		}
        .top-bar-left{
      		width: 70%;
          margin-left: 0;
          &.logo-wrapper {
            .heading-logo {
              display: inline-block;
              h1 {
                &.logo {
                  font-size: rem-calc(20);
                }
              }
            }
            .site-description {
              margin-bottom: rem-calc(15);
            }
            .logo-icon {
              margin: rem-calc(20) rem-calc(10) 0 0;
              display: block;
              width: 30px;
            }
          }
      	}
        .top-bar-right {
          width: 20%;
        }
      }
  	}
  }
  .button {
    &.slider {
      background: white;
      color: $red;
      height: auto;
      margin: 0;
      padding: 5px 10px;
      font-size: rem-calc(10);
    }
  }
  .large-banner {
    min-height: rem-calc(280);
    .banner-overlay-box {
      width: 100%;
      position: relative;
      top: 0;
      left:0;
      padding-top: rem-calc(30);
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
      h2 {
        font-size: rem-calc(50);
      }
      h3 {
        font-size: rem-calc(30);
      }
    }
  }
  .review-list {
    li {
      span {
        text-align: center;
        width: 100%;
      }
      .review-star {
        margin:0 0 rem-calc(5) rem-calc(15);
        position: relative; 
        top:0!important;
        right:0; 
        float: right;
      }
    }
  }
  .post-banner {
    height: rem-calc(200);
    .overlay {
      height: rem-calc(200);
      width: 100%;
      padding: rem-calc(65) rem-calc(20) rem-calc(20) rem-calc(20);
      @include box-sizing(border-box);
      h1 {
        margin-top: rem-calc(10);
        margin-bottom: 0;
        font-size: rem-calc(20);
        line-height: rem-calc(21);
      }
      h5 {
        font-size: rem-calc(12);
      }
      .category-label {
        ul {
          li {
            margin-top: rem-calc(5);
            a {
              padding: rem-calc(2) rem-calc(6);
              font-size: rem-calc(11);
            }
          }
        }
      }
    }
  }
  .list-post {
    img {
      padding: 0;
      width: 100%;
    }
    &.row {
      &.collapse {
        // width: rem-calc(340);
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .post-details {
      margin-top: rem-calc(5);
      font-size: rem-calc(12);
    }
  }

  #content {
    #inner-content {
      #main {
        article {
          header {
            h1 {
              font-size: rem-calc(20);
              line-height: 34px;
            }
            h4 {
              &.byline {
                margin-top: rem-calc(0);
                margin-bottom: rem-calc(20);
                font-size: rem-calc(12);
              }
            }
          }
          section {
            .iframe_kh_wrapper {
              iframe {
                min-width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .casino-reviews-grid {
    .card {
      .vh-casino-title, .vh-bonus-text, .button {
        font-size: rem-calc(18);
      }
      .vh-casino-overlay {
        img {
          height: rem-calc(120);
          width: rem-calc(120);
        }
        .no-image-radius {
          height: rem-calc(120);
          width: rem-calc(120);
          h1 {
              font-size: rem-calc(60);
              line-height: 118px;
          }
        }
      }
    }
  }
  .sidebar, .sidebar-wrapper {
    padding: 0 rem-calc(20);
  }
  .footer {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    .columns:first-child {
      padding-left: 0.625rem;
    }
  }


  .mobile-sticky-casino .casinocta {
      position: fixed;
      bottom: 0;
      margin: 0;
      width: 100%;
      z-index: 100;
      left: 0;
  }
  .mobile-sticky {
    .dataTables_wrapper {
        margin-bottom: 0;
    }
    .globalaff, .bonus-table-sidebar {
      position: fixed;
      bottom: 0;
      margin: 0;
      width: 100%;
      z-index: 100;
      left: 0;
    }
  }
}
@media (max-width: 440px) {
  .header {
    .top-bar {
      &#top-bar-menu {
        .row {
          .top-bar-left {
            width: 80%;
          }
        }
      }
    }
  }
  .casino-thumb {
    text-align: center;
    padding-bottom: 0;
    h3,h4 {
      margin:rem-calc(10) 0;
    }
  }
  .singlegame_widget {
    .vh-games-widget-item {
      h3 {
        padding: 0 0.3rem!important;
      }
      img {
        margin-bottom: 0;
      }
    }
  }
}
@media (max-width: 320px) {
  .header {
    .top-bar {
      &#top-bar-menu {
        .row {
          .top-bar-left {
            margin-left: 0;
            &.logo-wrapper {
              .logo-icon {
                width: 15%;
                float: left;
                margin-top: rem-calc(16);
              }
              .heading-logo {
                width: 78%;
                .logo {
                  margin-top: rem-calc(17);
                  font-size: rem-calc(15);
                }
                .site-description {
                  font-size: rem-calc(12);
                }
              }
            }
          }
          .top-bar-right {
            .menu-mobile {
              padding: rem-calc(10);
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .widget {
    margin-bottom: 0;
    h2 {
      padding-top: 0;
      margin-bottom: rem-calc(15);
      font-size: rem-calc(18);
    }
    ul {
      li {
        font-size: rem-calc(13);
      }
    }
  }

  .sidebar-wrapper-news {
    padding-left: 0;
    padding-right: 0;
    .widget {
      width: 100%;
    }
  }
  .list-post {
    img {
      padding: 0;
      width: 100%;
    }
    &.row {
      &.collapse {
        width: 100%;
      }
    }
  }
  .footer {
    padding: 0;
    .widget {
      margin-bottom: 0;
      h2 {
        padding-top: 0;
        margin-bottom: rem-calc(15);
      }
    }
  }
}
