.about-wrap {
  position: relative;
  margin: 25px 40px 0 20px;
  max-width: 100%;
  font-size: 15px;
}
.about-wrap h1, .about-wrap form h2 {
  margin: .2em 200px 0 0;
  color: #333;
  line-height: 1.2em;
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
}
.about-wrap .about-text {
  margin: 1em 200px 1em 0;
  min-height: 35px;
  color: #777;
	font-weight: 400;
  line-height: 1.6em;
  font-size: 19px;
}
.about-wrap .purchase-banner {
  width: 430px;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}
.about-wrap .purchase-banner a {
  background:#202325;
  color: white;
  padding: 15px 35px;
  float: right;
  text-decoration: none;
  margin-top: -10px;
}
.about-wrap .purchase-banner h3 {
  float: left;
  margin-top: 0;
}
.vh-badge {
	position: absolute;
  top: 0;
  right: 0;
  background: #222;
  text-rendering: optimizeLegibility;
  padding-top: 110px;
  height: 52px;
  width: 145px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin: 5px 0 0 0;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.wc-badge:before {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 80px;
  font-weight: normal;
  width: 165px;
  height: 165px;
  line-height: 165px;
  text-align: center;
  position: absolute;
  margin: 0;
  vertical-align: middle;
}
ul.operator-cards {


}
ul.operator-cards li:first-child {
  /*margin: 0 8px 16px 0;*/
}
ul.operator-cards li {
  float:left;
	background: #fff;
  border: 1px solid #dedede;
  margin: 0 15px 16px 0px;
  min-width: 300px;
  width: 23%;
}
ul.operator-cards li .provider-img {
  float: right;
  position: absolute;
  right: 0px;
  top: -5px;
  margin: 0 10px;
  width: 154px;
  border: 1px solid #dedede;
  /*background: #dedede;*/
}
ul.operator-cards li h3 {
  margin: 25px 0 10px 20px;
  text-align:left;
  font-size: 18px;
  line-height: 1.3;
}
ul.operator-cards li p {
	margin:0 0 10px 28px;
  padding: 2px;
  text-align:left;
	font-size: 13px;
  line-height: 1.5;
}
ul.operator-cards li .desc {
  position:relative;
}
ul.operator-cards li .desc h2 {
  padding-left: 20px;
  font-size: 16px;
  text-transform: capitalize;
  text-align: left;
  font-weight: 600;
  margin: 1em 0;
}
ul.operator-cards li .form-table{
  width:60%;
  margin:0 20px;
  text-align:left;
}
ul.operator-cards li .form-table th {
  text-align:left;
  padding:20px 0;
  width:100px;
}
ul.operator-cards li .btn-area {
  clear: both;
  padding: 12px 20px;
  background-color: #fafafa;
  border-top: 1px solid #dedede;
  overflow: hidden;
}
ul.products li, ul.instructions li, .helpinfo {
  background:white;
  border: 1px solid #dedede;
  clear:both;
}

ul.products li.support-upsell, ul.instructions li ul, .helpinfo {
  padding:35px 40px;
}
ul.instructions li ul li {
  border:none;
  margin-bottom:10px;
}
ul.products li.support-upsell h3 {
  margin:25px 0px;
}
ul.products li.support-upsell p {
  margin:10px 0px 20px 0px;
}
ul.products li.support-upsell ul {
  padding:30px;
  width:45%;
  background:none;
  float:left;
}

ul.products li.support-upsell ul .signup {
  text-decoration:none;
  margin-top:15px;
  display:inline-block;
  text-transform:uppercase;
  color:white;
  padding:13px 20px;
  background:#f3f3f3;
}
ul.products li.support-upsell ul.silver {
  background:#bae9f5;
  float:right;
}
ul.products li.support-upsell ul.silver .signup {
  background:#5fbed6;
}
ul.products li.support-upsell ul.gold {
  background:#fef8b0;
  margin-right:2%;
}
ul.products li.support-upsell ul.gold .signup {
  background:#e6bc12;
}
ul.products li.support-upsell ul li {
  border:none;
  float:none;
  background:none;
  width:100%;
  margin:10px 0;
}
ul.products li.support-upsell ul li.package-title {
  margin:0;
}
ul.products li.support-upsell ul li h3 {
  margin:0px 0px 5px;
  float:none;
}
ul.products li.support-upsell ul li h3 span {
  font-style:normal;
  float:right;
  font-size:14px;
  text-transform:uppercase;
  padding:5px 16px;
  color:#fff;
}
ul.products li.support-upsell ul.gold li h3 span {
  background:#ecde3b;
  color:#a2840a;
}
ul.products li.support-upsell ul.silver li h3 span {
  background:#8fddf1;
  color:#2b8096;
}
ul.products li.support-upsell ul li hr {
  margin:20px 0;
}
ul.products li.support-upsell ul.addon {
  width:25%;
  margin-right: 2%;
  border:4px solid #f4f4f4;
}
ul.products li.support-upsell ul.addon li {
  margin-top:0;
}
ul.products li.support-upsell ul.addon li .button-primary {
  font-size: 15px;
  padding: 4px 10px;
  line-height: 22px;
  height: 32px;
}
.shortcode-hint {
  color: #777;
  font-size: 15px;
  margin: 30px 0;
  background:#F9F6F0;
  border: 1px solid #DDD4C2;
  padding:30px;
  color:#4E938A;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
.shortcode-hint-row {
  margin-left: 30px;
}
.operator-shortcode-settings {
  width:100%;
  min-height:100px;
}
.importwarning {
  display: none;
}

.about-wrap hr.dash-divider {
  margin:40px 0;
}

.gamecount .dashicons-lock {
    color: #ccc;
    font-size: 17px;
}


.op-ribbon {
  font-size: 14px;
  position: relative;
  background: #4CAF50;
  color: #fff;
  line-height: 0;
  text-align: center;
  padding: 0.5em 1em;
  visibility: hidden;
  left: -11px;
  text-transform: uppercase;
  top: -3px;
}
.op-ribbon .op-ribbon-content:before {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #3C813F transparent transparent transparent;
  bottom: -0.7em;
}
.op-ribbon .op-ribbon-content:before {
  left: 0;
  border-width: 0.8em 0 0 0.8em;
}

/*.op-energycasino .op-ribbon { 
  visibility: visible;
}*/

.prov-betsoft.mobile {
  display: none;
}

.op-admin-iframe-bottom {
  width: 100%;
  height: 1350px;
}
.op-admin-iframe-top {
  width: 728px;
  height: 90px;
  right: 0;
  position: absolute;
  top: -10px;
}
.op-pagetitle {
  margin-bottom: 50px!important;
}
.prov-admin-iframe-bottom {
  width: 100%;
  height: 500px;
}
.prov-admin-iframe-top {
  width: 728px;
  height: 90px;
  right: 0;
  position: absolute;
  top: -10px;
}
.prov-pagetitle {
  margin-bottom: 50px!important;
}
.licensing-admin-iframe-bottom {
  width: 100%;
  height: 200px;
}
.wp-core-ui .vh-admin-notice.notice-info.is-dismissible, 
.wp-core-ui .vh-admin-notice.notice-success.is-dismissible {
  padding-right:10px!important;
}

@media screen and (max-width: 500px) {
  .vh-about-wrap h1 {
    font-size: 1.8em;
    margin:0;
  }
  .vh-about-wrap .about-text {
    font-size: 14px;
    margin:10px 0 10px 0;
  }
  ul.operator-cards li .provider-img {
    display: none;
  }
  .form-table td input[type=text] {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 1200px) {
  ul.operator-cards li {
    width: 100%;
  }
}
